/* Start General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End General Styles */

/* Start Header Section */
.header .container {
  border: 3px solid yellow;
}

.header__content {
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: #c20d00;
  background-blend-mode: multiply;
}

.header__image {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.header__text {
  padding: 40px 0;

  text-align: center;
}

.header__title {
  margin: 25px 0 10px 0;
  padding: 0 30px;
  color: #fff;
}

.header__description {
  padding: 0 20px;
  color: #eee;
  font-size: 14px;
}

.header__buttons {
  margin-top: 40px;
}

.header__buttons button {
  display: inline-flex;
  align-items: center;
  margin: 5px;
  border: 0;
  border-radius: 3px;
  padding: 12px;
}

.header__buttons button i {
  display: block;
  color: #c20d00;
}

.header__buttons button span {
  margin-bottom: 2px;
  margin-right: 5px;
  display: block;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .header__content {
    flex-direction: row;
    align-items: center;
    height: 100vh;
  }

  .header__image {
    width: 50%;
    height: auto;
    height: 100vh;
  }

  .header__text {
    order: 2;
    width: 50%;
  }
}
/* End Header Section */

/* Start Feature Section */
.features {
  padding: 60px 0;
}

.features__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.feature__item:nth-of-type(2) {
  display: block;
  text-align: center;
}

.feature__item__content {
  border: 2px solid #eee;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.feature__icon {
  display: inline-block;
  padding: 5px;
  background-color: #c20d00;
  border-radius: 2px;
}
.feature__icon i {
  display: block;
  color: #eee;
  font-size: 25px;
}

.feature__title {
  margin: 15px 0 10px 0;
}

.feature__description {
  color: #666;
  font-size: 14px;
}

/* Start Media Queries */

@media screen and (min-width: 992px) {
  .features {
    padding: 100px 0;
  }

  .features__content {
    flex-direction: row;
  }

  .feature__item {
    justify-content: space-between;
  }

  .feature__item:nth-of-type(2) img {
    margin-top: 50px;
  }
}

/* End Feature Section */

/* Start Offer Section */

.offer {
  padding: 40px 0;
  background-color: #f9f8f8;
}

.offer__content {
  display: flex;
  flex-direction: column;
}

.offer__image {
  text-align: center;
}

.offer__image img {
  width: 50%;
}

.offer__info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer__item {
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.offer__icon {
  text-align: center;
}

.offer__text {
  text-align: center;
}

.offer__description {
  font-size: 14px;
  color: #666;
}

/* Start Media Queries */
@media screen and (min-width: 768px) {
  .offer {
    padding: 70px 0;
  }

  .offer__content {
    flex-direction: row;
  }

  .offer__image img {
    width: 80%;
  }

  .offer__info {
    width: 50%;
  }

  .offer__item {
    display: flex;
    gap: 20px;
  }

  .offer__icon {
    text-align: start;
  }

  .offer__text {
    margin-top: 7px;
    text-align: start;
  }
}
/* End Offer Section */
